<header>
    <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
    <div class="filter">
        <button class="dropMenu">Categories</button>
        <div class="dropdown-content">
            <a href="#">Horror</a>
            <a href="#">Action</a>
            <a href="#">Comedy</a>
        </div>
    </div>
</header>