<header>
    <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
            <a href="http://localhost:3000/category/?id=27">Horror</a>
            <a href="http://localhost:3000/category/?id=28">Action</a>
            <a href="http://localhost:3000/category/?id=35">Comedy</a>
        </div>
    </div>
</header>