<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/netflix_94400.ico" type="image/x-icon">
</head>

<body>
  <%- include('header', {categories: categories, port: port}) %>

  <div class="titulo">
    <h1>Peliculas</h1>
  </div>
  <%- include('list', {movies: movies}) %>
</body>

</html>