<div id="preview_banner">
    <div class="">
        <img src="http://image.tmdb.org/t/p/original<%= movie.poster_path %>" alt="<%= movie.title %>">
        <img src="" alt="">
    </div>
    <div>
        <p><%= movie.overview</p>
    </div>
</div>